<footer>
  <div>© Event Gear. All rights reserved.</div>
  <div>
    <ul>
      <li><a href="https://www.facebook.com/eventgearau">Facebook</a></li>
      <li><a href="https://www.instagram.com/eventgearau/">Instagram</a></li>
      <li><a href="https://www.linkedin.com/company/eventgearau/about/">LinkedIn</a></li>
    </ul>
  </div>
</footer>
