<footer>
  <div>© Event Gear. All rights reserved.</div>
  <div>
    <ul>
      <li><a href="https://www.facebook.com/eventgearau" target="_blank" rel="noopener noreferrer"><img class="socials" src='/static/img/facebook.svg' alt="Facebook"/></a></li>
      <li><a href="https://www.instagram.com/eventgearau/" target="_blank" rel="noopener noreferrer"><img class="socials" src='/static/img/instagram.svg' alt="Instagram"/></a></li>
      <li><a href="https://www.linkedin.com/company/eventgearau/about/" target="_blank" rel="noopener noreferrer"><img class="socials" src='/static/img/linkedin.svg' alt="LinkedIn"/></a></li>
    </ul>
  </div>
</footer>
