<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "components/head.njk" %}

	<body>

		<header>
			<h1>
				<a href="{{ '/' | url }}">
					<img class="header__logo" src='/static/img/EG-LogoWide-SVG.svg' alt="Event Gear Logo"/>
				</a>
			</h1>
		</header>
		<section>
			<img class="banner" src='/static/img/EventGearRoadcaseBanner_web.jpg' alt="Event Gear road cases"/>

		</section>
		<div class="content-area">
			<main>
				{{ layoutContent | safe }}
			</main>
		</div>

		{% include "components/footer.njk" %}

	</body>

</html>
